body {
  background-image: url("https://images.unsplash.com/photo-1535242208474-9a2793260ca8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2500&q=80");
  background-repeat: repeat;
}

#jumbo-bg {
  color: white;
  /* background: rgba(255, 255, 255, 0.95); */
  background: rgba(114, 134, 117, 0.8);
  box-shadow: 0 4px 8px 0 rgb(56, 78, 56), 0 6px 20px 0 black;
}

#jumbo-title {
  font-size: 75px;
}


#card-list {
  font-size: 18px;
  color: black;
}

#card-title {
  font-size: 32px;
  color: black;
}

#list-group {
  font-size: '18px';
  border-radius: '10px'
}

#fade-in {
  animation-name: fadeIn;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  transition: ease;
}

#fade-in2 {
  animation-name: fadeIn2;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  transition: ease;
}

#fade-in3 {
  animation-name: fadeIn3;
  animation-duration: 4000ms;
  animation-iteration-count: 1;
  transition: ease;
}

@keyframes jumboFade { 
	0% {opacity: 0;} 
	100% {opacity: 1;}
	}

@keyframes fadeIn { 
	0% {opacity: 0; top: 50%} 
  50% {top: 0}
	100% {opacity: 1;}
	}

@keyframes fadeIn2 { 
	0% {opacity: 0; top: 50%} 
  50% {top: 0}
	100% {opacity: 1;}
	}

@keyframes fadeIn3 { 
	0% {opacity: 0; top: 50%} 
  50% {top: 0}
	100% {opacity: 1;}
	}
  
  @media only screen and (max-width: 500px) {
    #jumbo-title {
      font-size: 30px;
    }
    #jumbo-desc {
      font-size: 18px;
    }
  }
  @media only screen and (max-width: 760px) {
    #jumbo-title {
      font-size: 50px;
    }
    #jumbo-desc {
      font-size: 20px;
    }
  }
