#jumbo-bg2 {
  color: white;
  background: rgba(114, 134, 117, 0.8);
  box-shadow: 0 4px 8px 0 rgb(56, 78, 56), 0 10px 20px 0 black
}

#CardImg {
    width: 50%;
    text-align: center;
}

#card-list {
    font-size: 18px;
    color: whitesmoke;
}
  
#card-title {
    font-size: 32px;
    color: white;
}
  
#list-group {
    font-size: '18px';
    border-radius: '10px'
}
  
#fade-in {
    animation-name: fadeIn;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
}
  
#fade-in2 {
    animation-name: fadeIn2;
    animation-duration: 3000ms;
    animation-iteration-count: 1;

}
  
#fade-in3 {
    animation-name: fadeIn3;
    animation-duration: 4000ms;
    animation-iteration-count: 1;
}
  
#jumbo-title {
   animation-name: jumboFade;
   animation-duration: 2500ms;
   animation-iteration-count: 1;
}

#JournalEntryBox {
    box-shadow: 0 4px 8px 0 rgb(56, 78, 56), 0 6px 20px 0 black
}

#JournalTextBox{
    text-shadow: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 25px;
    padding: 15px;
    background-color: lightgoldenrodyellow;
    border: thick black;
}

@keyframes jumboFade { 
    0% {opacity: 0;} 
    100% {opacity: 1;}
}
  
@keyframes fadeIn { 
    0% {opacity: 0; top: 50%} 
    50% {top: 0}
    100% {opacity: 1;}
}

@keyframes fadeIn2 { 
    0% {opacity: 0; top: 50%} 
    50% {top: 0}
    100% {opacity: 1;}
}

@keyframes fadeIn3 { 
    0% {opacity: 0; top: 50%} 
    50% {top: 0}
    100% {opacity: 1;}
}  

