.search-img {
  background: url("https://images.theconversation.com/files/256057/original/file-20190129-108364-17hlc1x.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&fit=clip.jpg");
  height: 100%;
  padding: 10px 10px;
}

#alert {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: -20px;
}

#question {
    font-size: 20px;
    font-weight: bold;
}

#jumbo-bg {
  color: white;
  background: rgba(114, 134, 117, 0.8);
  box-shadow: 0 4px 8px 0 rgb(56, 78, 56), 0 6px 20px 0 black;
}

#smiley {
  animation: smiley 2s infinite ease;
}

@keyframes smiley { 
	0% {transform: rotate(0deg);}  
	20% {transform: rotate(45deg);} 
  40% {transform: rotate(0deg);}
  60% {transform: rotate(-45deg);}
  80% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
	}