#formBasicEmail, #formBasicPassword, #formBasicName {
  width: 25%;
}

.margin-top {
  margin-top: 5rem !important;
}

.fadesample { 
	animation-name: fadeIn; 	
	animation-duration: 2s;        		
	animation-iteration-count: 1;  
	} 

@keyframes fadeIn { 
	0% {opacity: 0;} 
	100% {opacity: 1;}
	}     